<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>员工列表</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<!-- 员工修改的模态框 -->
<div class="modal fade" id="empUpdateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">员工修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="empName_update_static"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="email_update_input" placeholder="aa@163.com" />
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender1_update_input" value="0" /> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender2_update_input" value="1" /> 女
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门</label>
                        <div class="col-sm-4" >
                            <select class="form-control" name="dId" id="dept_update_select">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="emp_update_btn">更新</button>
            </div>
        </div>
    </div>
</div>

<!-- 员工添加的模态框 -->
<div class="modal fade" id="empAddModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">员工添加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="empName" class="form-control" id="empName_add_input" placeholder="empName" />
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="email_add_input" placeholder="aa@163.com" />
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender1_add_input" value="0" checked="checked"/> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender2_add_input" value="1" /> 女
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门</label>
                        <div class="col-sm-4" >
                            <select class="form-control" name="dId" id="dept_add_select">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="emp_save_btn">保存</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <!--标题-->
    <div class="row">
        <div class="col-md-12">
            <h1>CRUD</h1>
        </div>
    </div>
    <!--按钮-->
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button class="btn btn-primary" id="emp_add_model_btn">新增</button>
            <button class="btn btn-danger" id="emp_delete_all_btn">删除</button>
        </div>
    </div>

    <!--表格数据-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="emps_table">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="check_all"/>
                    </th>
                    <th>#</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>所在部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url:"/emps",
            type:"GET",
            success:function (result) {
//                console.log(result);
                //解析并显示员工数据
                build_emps_table(result)
            }
        });
    });


    function build_emps_table(result) {
        var emps = result.extend.emps;
        $.each(emps,function (index,item) {
//            alert(item.empName);
//            var checkBoxTd = $("<input type='checkbox' class='check_item'/>");
//            var checkBoxTd = $("<td></td>").append("<input type='checkbox' class='check_item' />");
//            var checkBoxTd = $("<td><input type='radio' class='radio' /></td>");
            var oCheckbox = document.createElement("input");
            oCheckbox.setAttribute("type","checkbox");
            oCheckbox.setAttribute("class","check_item");
            var checkBoxTd = $("<td></td>").append(oCheckbox);
//            checkBoxTd.appendChild(oCheckbox);
            var empIdTd = $("<td></td>").append(item.empId);
            var empNameTd = $("<td></td>").append(item.empName);
//            var gender = item.gender=='0'?"男":"女";
            var genderTd = $("<td></td>").append(item.gender=='0'?"男":"女");
            var emailTd = $("<td></td>").append(item.email);
            var deptNameTd = $("<td></td>").append(item.department.deptName);
            var editBtn = $("<button></button>").addClass("btn btn-info btn-sm edit_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append("编辑");
            //为编辑按钮添加一个自定义属性，来表示当期员工id
            editBtn.attr("edit-id",item.empId);
            var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm delete_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
            //为删除按钮添加一个自定义属性，来表述当前员工id
            delBtn.attr("del-id",item.empId);
            var btnTd = $("<td></td>").append(editBtn).append(" ").append(delBtn);
            $("<tr></tr>")
//                .append(oCheckbox)
                .append(checkBoxTd)
                .append(empIdTd)
                .append(empNameTd)
                .append(genderTd)
                .append(emailTd)
                .append(deptNameTd)
                .append(btnTd)
                .appendTo("#emps_table tbody");
        });
    }

    //清空表单样式及内容
    function reset_form(ele) {
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //点击新增按钮，弹出模态框
    $("#emp_add_model_btn").click(function () {
        //清除表单数据(表单重置）
        reset_form("#empAddModel form");
//        $("#empAddModel form")[0].reset();
        //发送ajax请求，查出部门信息,显示在下拉列表中
        getDepts("#dept_add_select");

        //弹出模态框
        $("#empAddModel").modal({
            backdrop:"static"
        });
    });

    //查出所有的部门信息并显示在下拉列表中
    function getDepts(ele) {
        //情况下拉列表中的值
        $(ele).empty();
        $.ajax({
            url:"/depts",
            type:"GET",
            success:function (result) {
//                console.log(result)
                //显示部门信息在下拉列表中
//                $("#dept_add_select").append();
                //遍历部门信息
                $.each(result.extend.depts,function () {
                    var optionEle = $("<option></option>").append(this.deptName).attr("value",this.deptId);
                    optionEle.appendTo(ele);
                });
            }
        });
    }

    //显示校验信息
    function show_validate_msg(ele,status,msg) {
        //清清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if("success" == status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if("error" == status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

    //校验表单数据
    function validate_add_form() {
        //拿到要校验的数据，使用正则表达式
        var empName = $("#empName_add_input").val();
        var regName = /(^[a-zA-Z0-9_-]{6,16}$)|(^[\u2E80-\u9FFF]{2,5})/;
//        alert(regName.test(empName));
        if(!regName.test(empName)) {
//            alert("用户名可以是2-5位中文或者6-16位英文和数字的组合");

//            $("#empName_add_input").parent().addClass("has-error");
//            $("#empName_add_input").next("span").text("用户名可以是2-5位中文或者6-16位英文和数字的组合");
            show_validate_msg("#empName_add_input","error","用户名可以是2-5位中文或者6-16位英文和数字的组合");
            return false;
        } else {
//            $("#empName_add_input").parent().addClass("has-success");
//            $("#empName_add_input").next("span").text("");

            show_validate_msg("#empName_add_input","success","");
        }

        //校验邮箱信息
        var email = $("#email_add_input").val();
        var regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
        if(!regEmail.test(email)) {
//            alert("邮箱格式不正确");
//            $("#email_add_input").parent().addClass("has-error");
//            $("#email_add_input").next("span").text("邮箱格式不正确");
            show_validate_msg("#email_add_input","error","邮箱格式不正确");
            return false;
        } else {
//            $("#email_add_input").parent().addClass("has-success");
//            $("#email_add_input").next("span").text("");
            show_validate_msg("#email_add_input","success","");
        }
    }

    //绑定change事件，检查用户名是否可用
        $("#empName_add_input").change(function () {
            //发送ajax请求验证用户名是否可用
            var empName = this.value;
            $.ajax({
                url:"/checkuser",
                data:"empName=" + empName,
                type:"POST",
                success:function (result) {
                    if(result.code == 100) {
                        show_validate_msg("#empName_add_input","success","用户名可用");
                        //如果用户名可用，则给保存按钮添加 ajax-va 属性，在点击按钮进行保存时，对这一属性进行检验，若为success才进行保存
                        $("#emp_save_btn").attr("ajax-va","success");
                    } else {
//                        show_validate_msg("#empName_add_input","error","用户名不可用");
                        show_validate_msg("#empName_add_input","error",result.extend.va_msg);
                        $("#emp_save_btn").attr("ajax-va","error");
                    }
                }
            });
        });


    //绑定点击事件
    $("#emp_save_btn").click(function () {
        //1、模态框中填写的表单数据提交给服务器进行保存
        //对要提交给服务器的数据进行校验
//        if(!validate_add_form()) {
//            return false;
//        }
        /**
         * 前端校验
         */
        if(validate_add_form() == false) {
//            alert(validate_add_form());
            return false;
        }

//        alert($("#emp_save_btn ajax-va"));
        //判断之前的用户名校验是否成功，如果成功，发送ajax请求进行数据保存，否则，不进行保存
        if($(this).attr("ajax-va") == "error") {
            return false;
        }
        //2、发送ajax请求保存员工
//        alert($("#empAddModel form").serialize());
        $.ajax({
            url:"/emp",
            type:"POST",
            data:$("#empAddModel form").serialize(),
            success:function (result) {
//                alert(result.msg);
//                console.log(result);

                /**
                 * 后端校验，防止某些用户绕过前端校验
                 */
                if(result.code == 100) {
                    //关闭模态框
                    $("#empAddModel").modal('hide')
                } else {
                    //显示失败信息
//                    console.log(result);
                    //有哪个字段的错误信息，就显示哪个
//                    alert(result.extend.errorFields.email);
//                    alert(result.extend.errorFields.empName);
                    if(undefined != result.extend.errorFields.email) {
                        //显示邮箱错误信息
                        show_validate_msg("#email_add_input","error",result.extend.errorFields.email);
                    }
                    if(undefined != result.extend.errorFields.empName) {
                        //显示员工名字错误信息
                        show_validate_msg("#empName_add_input","error",result.extend.errorFields.empName);
                    }
                }
            }
        });
    });

    //在按钮创建之间就已经进行了事件绑定，所以编辑按钮和删除按钮绑定不上
    //①可以在创建按钮的时候绑定事件  ②绑定点击live()
    //jquery新版没有live()方法，使用on进行替代
//    $(".edit_btn").click(function () {
//        alert("edit");
//    });

    $(document).on("click",".edit_btn",function () {
//        alert("edit");
        //查出员工信息  显示员工信息
        getEmp($(this).attr("edit-id"));

        //查出部门信息并显示部门列表
        getDepts("#dept_update_select");

        //把员工的id传递给模态框的更新按钮
        $("#emp_update_btn").attr("edit-id",$(this).attr("edit-id"));

        //弹出模态框
        $("#empUpdateModel").modal({
            backdrop:"static"
        });

    });

    //查询员工信息并显示
    function getEmp(id) {
        $.ajax({
            url:"/emp/"+id,
            type:"GET",
            success:function (result) {
//                console.log(result);
                var empData = result.extend.emp;
                $("#empName_update_static").text(empData.empName);
                $("#email_update_input").val(empData.email);
                $("#empUpdateModel input[type=radio]").val([empData.gender]);
//                alert(empData.dId);
//                alert(empData.department.toString());
                $("#dept_update_select").val([empData.dId]);
            }
        })
    }

    //点击更新，则更新员工信息
    $("#emp_update_btn").click(function () {
        //验证邮箱是否合法
        var email = $("#email_update_input").val();
        var regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
        if(!regEmail.test(email)){
            show_validate_msg("#email_update_input", "error", "邮箱格式不正确");
            return false;
        }else{
            show_validate_msg("#email_update_input", "success", "");
        }


        //发送ajax请求保存更新的员工
//        alert("#empUpdateModal form");
        $.ajax({
            url:"/emp/"+$(this).attr("edit-id"),
            type:"PUT",
            data:$("#empUpdateModel form").serialize(),
            success:function (result) {
//                alert("result.msg");
                //关闭模态框
                $("#empUpdateModel").modal("hide");
            }
        });

    });

    //单个员工删除
    $(document).on("click",".delete_btn",function () {
        //弹出确认删除对话框
//        alert($(this).parents("tr").find("td:eq(1)").text());
        var empName = $(this).parents("tr").find("td:eq(2)").text();
        var empId = $(this).attr("del-id");
        if(confirm("确认删除【" + empName + "】吗？")) {
            //确认，发送ajax请求，删除即可
            $.ajax({
                url:"/emp/"+empId,
                type:"DELETE",
                success:function (result) {
                    alert(result.msg);
                }
            })
        }
    });

    //完成全选和全不选功能
    $("#check_all").click(function () {
        //attr获取checked是undefined
        //原生的dom属性用prop获取，attr获取自定义属性
        //用prop来修改和读取dom原生属性
//        alert($(this).prop("checked"));
        $(".check_item").prop("checked",$(this).prop("checked"));
    })

    //check_item绑定点击事件
    //因为check_item也是后来创建的，因此也只能使用on来绑定事件
    $(document).on("click",".check_item",function () {
        //当前选中的元素个数是否等于总数
//        alert($(".check_item:checked").length);
        var flag = ($(".check_item:checked").length == $(".check_item").length);
        $("#check_all").prop("checked",flag);
    });

    //点击页面上方的删除就批量删除
    $("#emp_delete_all_btn").click(function () {
//        $(".check_item:checked")  //被选中的复选框

        if($(".check_item:checked").length == 0) {
            alert("请选择要删除的用户！");
            return false;
        }

        var empNames = "";
        var del_idstr = "";
        $.each($(".check_item:checked"),function () {
//            alert($(this).parents("tr").find("td:eq(2)").text());
            empNames += $(this).parents("tr").find("td:eq(2)").text() + ",";
            //组装员工id
            del_idstr += $(this).parents("tr").find("td:eq(1)").text()+"-";
        });
//        alert(empNames);
        //去除empNames多余的逗号
        empNames = empNames.substring(0, empNames.length-1);
        //去除删除的id多余的-
        del_idstr = del_idstr.substring(0, del_idstr.length-1);


        if(confirm("确认删除【" + empNames + "】吗？")) {
//            alert("delete");
            //确认发送aja请求删除
            $.ajax({
                url:"/emp/" + del_idstr,
                type:"DELETE",
                success:function (result) {
//                    alert("删除成功");
//                    console.log(result);
                    alert(("删除成功"));
                }
            });
        }
    });
</script>
</body>
</html>